[submodule "mbedtls"]
	path = mbedtls
	url = git@gitlab.sidnlabs.nl:tlsprint/docker-mbedtls.git
[submodule "botan"]
	path = botan
	url = git@gitlab.sidnlabs.nl:tlsprint/docker-botan.git
[submodule "openssl"]
	path = openssl
	url = git@gitlab.sidnlabs.nl:tlsprint/docker-openssl.git
